ensure EasyAdmin

add_ace group.admin easyadmin allow
add_ace resource.EasyAdmin command allow
add_ace role:1345232877692129371 easyadmin allow

#######################################################################

add_ace group.admin easyadmin.player.kick allow
add_ace group.admin easyadmin.player.spectate allow
add_ace group.admin easyadmin.player.teleport allow
add_ace group.admin easyadmin.player.slap allow
add_ace group.admin easyadmin.player.freeze allow
add_ace group.admin easyadmin allow
