## Discord Ace Perms ##

add_ace resource.DiscordAcePerms command.add_principal allow
add_ace resource.DiscordAcePerms command.remove_principal allow
add_ace resource.DiscordAcePerms command.add_ace allow
add_ace resource.DiscordAcePerms command.remove_ace allow




#######################################################################

## Interaction Menu ##

add_ace resource.SEMInteractionMenu command.add_ace allow
add_ace resource.SEMInteractionMenu command.remove_ace allow


#######################################################################

## LEO MENU ##

add_ace group.LEO sem_intmenu.leo allow
add_ace group.SAFR sem_intmenu.fire allow
add_ace group.LEO sem_intmenu.unjail allow
add_ace group.SAFR sem_intmenu.unhospital allow



add_ace group.LEO notredrum.shotspotter allow
add_ace group.Owner notredrum.shotspotter allow


add_ace builtin.everyone command.stretchermenu allow
add_ace group.SAFR command.stretcher allow
add_ace group.SAFR command.delstretcher allow
add_ace group.SAFR command.mdstretcher allow



#######################################################################
## NAT2k15 ##

add_ace group.Owner ace.report allow

#######################################################################

## Revive Permissions ##

add_ace group.Owner command.adrev allow
add_ace group.Co-owner command.adrev allow
add_ace group.dev command.adrev allow
add_ace group.Community-Direcotr command.adrev allow
add_ace group.Community-Manger command.adrev allow
add_ace group.AST-Manger command.adrev allow
add_ace group.T-Manger command.adrev allow
add_ace group.Head-managemnet command.adrev allow
add_ace group.SR-managemnet command.adrev allow
add_ace group.managemnet command.adrev allow
add_ace group.JR-managemnet command.adrev allow
add_ace group.T-managemnet command.adrev allow
add_ace group.Head-admin command.adrev allow
add_ace group.JR-Head-admin command.adrev allow
add_ace group.SR-admin command.adrev allow
#add_ace group.admin command.adrev allow
#add_ace group.JR-admin command.adrev allow
#add_ace group.Head-Mod command.adrev allow
#add_ace group.SR-Mod command.adrev allow
#add_ace group.t-mod command.adrev allow
#add_ace group.High-staff command.adrev allow
#add_ace group.SR-staff command.adrev allow
#add_ace group.Staff command.adrev allow

add_ace group.Owner command.adrevall allow
add_ace group.Co-owner command.adrevall allow
add_ace group.dev command.adrevall allow
add_ace group.Community-Director command.adrevall allow
add_ace group.Community-Manger command.adrevall allow
add_ace group.AST-Manger command.adrevall allow
add_ace group.T-Manger command.adrevall allow
add_ace group.Head-managemnet command.adrevall allow
add_ace group.SR-managemnet command.adrevall allow
add_ace group.managemnet command.adrevall allow
add_ace group.JR-managemnet command.adrevall allow
add_ace group.T-managemnet command.adrevall allow
add_ace group.Head-admin command.adrevall allow
#add_ace group.JR-Head-admin command.adrevall allow
#add_ace group.SR-admin command.adrevall allow
#add_ace group.admin command.adrevall allow
#add_ace group.JR-admin command.adrevall allow
#add_ace group.Head-Mod command.adrevall allow
#add_ace group.SR-Mod command.adrevall allow
#add_ace group.t-mod command.adrevall allow
#add_ace group.High-staff command.adrevall allow
#add_ace group.SR-staff command.adrevall allow
#add_ace group.Staff command.adrevall allow

add_ace group.Owner command.adres allow
add_ace group.Co-owner command.adres allow
add_ace group.dev command.adres allow
add_ace group.Community-Direcotr command.adres allow
add_ace group.Community-Manger command.adres allow
add_ace group.AST-Manger command.adres allow
add_ace group.T-Manger command.adres allow
add_ace group.Head-managemnet command.adres allow
add_ace group.SR-managemnet command.adres allow
add_ace group.managemnet command.adres allow
add_ace group.JR-managemnet command.adres allow
add_ace group.T-managemnet command.adres allow
add_ace group.Head-admin command.adres allow
add_ace group.JR-Head-admin command.adres allow
add_ace group.SR-admin command.adres allow
#add_ace group.admin command.adres allow
#add_ace group.JR-admin command.adres allow
#add_ace group.Head-Mod command.adres allow
#add_ace group.SR-Mod command.adres allow
#add_ace group.t-mod command.adres allow
#add_ace group.High-staff command.adres allow
#add_ace group.SR-staff command.adres allow
#add_ace group.Staff command.adres allow


add_ace group.Owner command.adresall allow
add_ace group.Co-owner command.adresall allow
add_ace group.dev command.adresall allow
add_ace group.Community-Director command.adresall allow
add_ace group.Community-Manger command.adresall allow
add_ace group.AST-Manger command.adresall allow
add_ace group.T-Manger command.adresall allow
add_ace group.Head-managemnet command.adresall allow
add_ace group.SR-managemnet command.adresall allow
add_ace group.managemnet command.adresall allow
add_ace group.JR-managemnet command.adresall allow
add_ace group.T-managemnet command.adresall allow
add_ace group.Head-admin command.adresall allow
#add_ace group.JR-Head-admin command.adresall allow
#add_ace group.SR-admin command.adresall allow
#add_ace group.admin command.adresall allow
#add_ace group.JR-admin command.adresall allow
#add_ace group.Head-Mod command.adresall allow
#add_ace group.SR-Mod command.adresall allow
#add_ace group.t-mod command.adresall allow
#add_ace group.High-staff command.adresall allow
#add_ace group.SR-staff command.adresall allow
#add_ace group.Staff command.adresall allow

#######################################################################

add_ace group.Owner command.delallveh allow
add_ace group.Co-owner command.delallveh allow
add_ace group.dev command.delallveh allow
add_ace group.Community-Direcotr command.delallveh allow
add_ace group.Community-Manger command.delallveh allow
add_ace group.AST-Manger command.delallveh allow
add_ace group.T-Manger command.delallveh allow
add_ace group.Head-managemnet command.delallveh allow
add_ace group.SR-managemnet command.delallveh allow
add_ace group.managemnet command.delallveh allow
add_ace group.JR-managemnet command.delallveh allow
add_ace group.T-managemnet command.delallveh allow
#add_ace group.Head-admin command.delallveh allow
#add_ace group.JR-Head-admin command.delallveh allow
#add_ace group.SR-admin command.delallveh allow
#add_ace group.admin command.delallveh allow
#add_ace group.JR-admin command.delallveh allow
#add_ace group.Head-Mod command.delallveh allow
#add_ace group.SR-Mod command.delallveh allow
#add_ace group.t-mod command.delallveh allow
#add_ace group.High-staff command.delallveh allow
#add_ace group.SR-staff command.delallveh allow
#add_ace group.Staff command.delallveh allow


#######################################################################

# Note: If you change a permission's name in the config, you must also change it here.
# Syntax: add_ace <group> <permission name> <allow/deny>

add_ace builtin.everyone rhud.config.open allow
add_ace builtin.everyone rhud.config.layout allow
add_ace builtin.everyone rhud.config.color allow
add_ace group.admin rhud.config.export allow

add_ace group.Mod rhud.aop allow

add_ace group.Admin rhud.peacetime allow

add_ace builtin.everyone rhud.priority.active allow
add_ace group.Admin rhud.priority.cooldown allow
add_ace group.Admin rhud.priority.onhold allow
add_ace group.Admin rhud.priority.reset allow

add_ace builtin.everyone rhud.player.heal_self allow
add_ace group.admin rhud.player.heal_other allow

# This line is needed for the seatbelt to work
setr game_enableFlyThroughWindscreen true

#######################################################################